In [74]:
# Import Libraries
import pandas as pd
import numpy as np

In [23]:
# Read Data
df_laptops = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv')

# Top Rows
df_laptops.head(5)

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

#### Question 1: Pandas Version

In [24]:
# Review Pandas version
pd.__version__

'2.2.2'

#### Question 2: Records count

In [6]:
print(f'{df_laptops.shape=}')

df_laptops.shape=(2160, 12)

#### Question 3: Laptop brands

In [9]:
print(f"Laptop Brands: {df_laptops['Brand'].nunique()} brands")

Laptop Brands: 27 brands

#### Question 4: Missing values

In [28]:
# Missing Values for column
cols_with_missing_values = df_laptops.isnull().sum()

cols_with_missing_values[cols_with_missing_values > 0]

Storage type      42
GPU             1371
Screen             4
dtype: int64

#### Question 5: Maximum final price

In [34]:
print(f"Max Final Price: {float(df_laptops.loc[df_laptops['Brand']=='Dell', 'Final Price'].max())}")

Max Final Price: 3936.0

#### Question 6. Median value of Screen

In [39]:
print(f"Mean Screen: {(df_laptops['Screen'].mean()):.2f}")
print(f"Median Screen: {(df_laptops['Screen'].median()):.2f}")

Mean Screen: 15.17
Median Screen: 15.60

In [61]:
# The most frequent value
df_most_freq_value = df_laptops['Screen'].value_counts().reset_index()

# Most freq value
most_freq_value = float(df_most_freq_value.loc[0, 'Screen'])

# Calculate Median again
print(f"Median Screen Calculated: {(df_laptops['Screen'].fillna(most_freq_value).median()):.2f}")

Median Screen Calculated: 15.60

#### Question 7. Sum of weights

In [149]:
# Select Innjoo laptops and RAM, Storage, Screen columns
X = df_laptops.loc[df_laptops['Brand']=='Innjoo', ['RAM', 'Storage', 'Screen']].values
y = np.array([1100, 1300, 800, 900, 1000, 1100])

# Calculate XTX
XTX = np.dot(X.T, X)

# Calculate Inverse
XTX_inv = np.linalg.inv(XTX)

# Xt_inv * XtX
XTX_inv_XT = np.dot(XTX_inv, X.T)

# Calculate w
w = np.dot(XTX_inv_XT, y)

# Sum w
print(f'Sum of weights: {(w.sum()):.2f}')

Sum of weights: 91.30

In [157]:
# Make predictions using calculated coefficients
y_pred = np.dot(X, w)
rmse = np.sqrt(np.mean((y - y_pred) ** 2))

print(f'Predictions: {y_pred.round(2)}')
print(f'RMSE: {rmse.round(2)}')

Predictions: [1180.72 1290.24  848.31  939.47  966.85  966.85]
RMSE: 69.92